@charset "utf-8";

@media (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}
@media (max-width: 767px) {
    #menu-hamburguer {
        display: block;
    }
    div > .header > p {
        font-size: 1.5rem;
        float: left;
    }
    #bio {
        width: 98%;
        padding: 10px 5px;
    }
    #bio > div > h1 {
        font-size: 1.6rem;
    }
    #bio > div > p {
        width: 100%;
        font-size: .9rem;
    }
    #nome {
        text-indent: 0;
    }
    .tec > div > h1, #title {
        padding-top: 10%;
        font-size: 1.2rem;
    }
    .habilidades {
        display: inline-flex;
        width: 70px;
        height: 70px;
        border-radius: 25px;
        padding: 2px;
        filter: grayscale(100%);
    }
    .habilidadescontainer {
        font-size: .8rem;
    }
    .pNome {
        font-size: .8rem;
    }
    #virada {
        min-width: 152%;
        height: 30%;
    }
    #virada:hover {
        animation: space 2s;
        font-size: .8em;
    }
    i > span {
        font-size: .8rem;
    }
    #gmail {
        font-size: .6rem;
    }
    .footer {
        height: 10vh;
    }
}

@media (min-width: 768px) {
     /* div > .header > p {
        font-size: 1.4rem;
    } */
    #bio {
        height: max-content;
    }
    #menu-tela-grande {
        display: inline-flex;
    }
    #menu-tela-grande > li > a > button {
        font-size: .8rem;
        width: max-content;
        margin: 0 10px;
    }
    nav {
        float: right;
    }
    #virada {
        min-width: 200%;
    }
    #foto {
        display: inline-flex;
        width: 200px;
        height: 250px;
    }
    #projetos {
        height: max-content;
    }
    .footer {
        height: 10vh;
    }
}

@media (min-width: 992px) {
    #menu-tela-grande > li > a > button {
        font-size: 1.2rem;
        width: max-content;
        margin: 0 10px; 
        border: 3px solid var(--cor-distante);
    }
    #foto {
        width: 250px;
        height: 300px;
    }
    .tec {
        min-height: 95vh;
    }
    #projetos {
        max-height: 100vh;
    }
    .footer {
        height: 8vh;
    }
} 