@charset "utf-8";

.p-projetos {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff8c;
    color: var(--cor-principal);
    min-width: 100%;
    min-height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    text-indent: 0;
    padding: 25px 5px;
}
#projetos {
    height: 100vh;
    font-family: var(--fonte-jogo);
    color: #fff;
    font-weight: bolder;
}
.projetos {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--cor-terciaria);
    margin: 10px;
}
#urna {
    background: transparent url(../_imagens/projetos/urna.png) center bottom;
}
#pedra {
    background: transparent url(../_imagens/projetos/pedra\,papel\,tesoura.png);
}
#space {
    background: transparent url(../_imagens/projetos/one-bit-x.png);
}
#calculadora {
    background-size: contain;
    background: transparent url(../_imagens/projetos/calculadora.png);
}
#velha {
    background: transparent url(../_imagens/projetos/jogo-da-vellha.png);
}
#controlev1 {
    background: transparent url(../_imagens/projetos/casa-de-racao.png);
}
#controlev2 {
    background: transparent url(../_imagens/projetos/casa-de-racao-v2.png);
}
#urnaLegenda, #pedraLegenda, #spaceLegenda, #calculadoraLegenda, #velhaLegenda, #controlev1Legenda, #controlev2Legenda {
    display: none;
}
i {
    color: var(--cor-principal);
    text-shadow: 3px 3px 15px var(--cor-distante);
}
i:hover {
    color: var(--cor-distante);
    transition: .5s;
}

.pNome {
    font-size: 1.3rem;
    font-family: 'Courgette', sans-serif;
    margin-bottom: 0;
}
#emBreve {
    background-color: #ffffffb1;
    overflow: hidden;
    display: flex;
    place-content: center;
}
#virada {
    display: flex;
    background-color: #1864F2;
    padding: 15px;
    min-width: 112%;
    height: 30%;
    font-size: 1.2rem;
    font-family: 'Courgette', sans-serif;
    transform: rotate(-35deg);
    justify-content: center;
    margin-top: 65px;
    box-shadow: 2px 2px 35px #1797E8;
    text-shadow: 2px 2px 5px var(--cor-distante);
}
#virada:hover {
    animation: space 2s;
}
@keyframes space {
    0% {letter-spacing: 1rem;}
    100% {letter-spacing: 1.5rem;}
}

a {
    text-decoration: none;
}
a:visited {
 color: #fff;
}